.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Layout {
  background-color: #f5f5dd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.Headline {
  color: black,
  font-size: 30px,
  font-weight: bold,
}
